.cardContainer {
    width: 100%;
    height: auto;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;    
    padding: auto;    
    flex-direction: column; 
}

.button {
    font-size: 20px;
    font-family: fantasy;
    outline: none;
    padding: 1em;
    padding-left: 3em;
    padding-right: 3em;
    border: 2px dashed #04adf6;
    border-radius: 15px;
    background-color:  #067ef69e;
    box-shadow: 0 0 0 4px rgb(27, 3, 242), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    cursor: pointer;
}

.button:hover {
    background-color: #7ddcf9b0;
}
  
.imgCard {
    margin-top: 10px;
    border-radius: 10px;
    border-style: hidden;
    max-width: 100%;
    max-height: 500px;
    height: auto;
    box-shadow: 5px 5px   10px rgb(4, 4, 246);
    outline: 2px solid rgb(47, 231, 255);
}

.h3Detail {
    text-align: center;
    font-family: fantasy;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgb(4, 0, 255);
    margin-right: 40px;
    border-style: hidden;    
    box-shadow: 5px 5px   10px rgb(4, 16, 246);
}

.ulDatos {
    border-style: hidden;    
    box-shadow: 5px 5px   10px rgb(4, 16, 246);
    text-shadow: 2px 2px 4px rgb(0, 0, 255);
    font-size: 30px;
    font-family: fantasy;
    background-color: rgba(7, 19, 244, 0.222);
}

  

