.divContainer {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
  padding: 10px; 
  width: 100%;
  position: relative;
}

.divContainer a {
    font-size: 22px;
    font-family: fantasy;
    outline: none;
    padding: 0.5em 1em;
    padding-left: 1em;
    padding-right: 1em;
    border: 2px dashed #04adf6;
    border-radius: 15px;
    background-color:  #067ef69e;
    box-shadow: 0 0 0 4px rgb(27, 3, 242), 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    cursor: pointer;
}

.divContainer a:hover {
  background-color: #7ddcf9b0; 
}

@media (max-width: 300px) {
  .divContainer {
    flex-direction: column;
    align-items: center;
  }

  .divContainer a {
    margin-top: 10px; /* Espacio entre los botones en dispositivos pequeños */
    padding: 0.5em 1em;
  }
}
