.cardContainer {
  width: 30%;    
  margin: 40px auto;
  padding: 20px 6px 1px 20px;
  border-style: inset;
  border-color: lawngreen;
  border-radius: 10px;
  box-shadow: 5px 5px   10px rgb(4, 246, 24);
  border-width: 5px;
  outline: 1px solid greenyellow;
  text-align: center;
  transition: all 0.1s ease-in-out;
  color: #000709;
  text-shadow: 4px 4px 8px rgb(4, 117, 246);/* Sombra de texto */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
}

.imgCard {
    border-radius: 20px;
    border-radius: 10px;
    border-style: hidden;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px   10px rgb(4, 246, 24);
    outline: 2px solid greenyellow;
}