.divCard {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to bottom, #1100ff, #1447ff, #1489ff, #03acea, #02a59a, transparent);
  border: 1px solid rgb(12, 4, 245);
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.25s ease-out;
  color: black;
}

.divCard:hover {
  transform: scale(1.05);
}

.imgCard {
    border-radius: 20px;
    border-radius: 10px;
    border-style: hidden;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px   10px rgb(12, 4, 246);
    outline: 2px solid rgb(47, 206, 255);
}