.divCard {
  display: flex;
  flex-direction: column;
  background-color: mediumseagreen;
  border: 1px solid yellowgreen;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: 0.25s ease-out;
  color: black;
}

.divCard:hover {
  transform: scale(1.05);
}

.imgCard {
    border-radius: 20px;
    border-radius: 10px;
    border-style: hidden;
    max-width: 100%;
    height: auto;
    box-shadow: 5px 5px   10px rgb(4, 246, 24);
    outline: 2px solid greenyellow;
}